<style type="text/css">
    #nav-msg {
      font-size: 18px;
      color: white;
      margin-right: 20px
    }
  </style>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto" id="navItems">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'complaints:explore-complaints' %}">Explore</a>
        </li >
        <li class="nav-item">
        <a class="nav-link" href="">Request History</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'complaints:create-complaint' %}">Create Complaint</a>
        </li>
        <li class="nav-item">
          {% if request.user.user_role == 'Normal user/Victim' %}
          <a class="nav-link" href="{% url 'user_requests:show-contact-requests' %}">Contact Requests</a>
          {% else  %}
          <a class="nav-link" href="{% url 'user_requests:show-complaint-requests' %}">Complaint Requests</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Complaint status</a>
        </li>
      </ul>
      </div>
      <a href="{% url 'accounts:profile-view' request.user.slug %}">
      <span id="nav-msg" style="color: white;">{{request.user}}</span>
      </a>
      <a href="{% url 'user_auth:logout' %}"><span id="nav-msg" class="btn btn-info">Logout</span></a>
  </nav>






  PROFILE











  <div id="profileBody">
    <div class="row py-5 px-4">
        <div class="col-md-5" style="min-width: 100%;">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        {% if profile == request.user %}
                        <a href="{% url 'accounts:profile-edit' %}"><i class="fa fa-edit"></i></a>
                        {% endif %}
                        <div class="profile mr-3"><img src="{% static 'images/' %}{{profile.user_profile_image}}" alt="..." width="130" class="rounded mb-2 img-thumbnail h-100"></div>
                        <!--https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80-->
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">{{profile.username}}</h4>
                            <p class="small mb-4"> 
                                <i class="fa fa-map-marker-alt mr-2"></i>{{profile.user_role}}
                            </p>
                            {% if request.user.id != profile.id %}
                            <button class="btn btn-success request-contact-info" data-profile="{{profile.id}}" style="position: relative;">
                                Request Contact Info
                            </button>
                            {% endif %}
                        </div>
                        {% if profile == request.user or request.user in contact_permitted_users %}
                        {{profile.email}}
                        {{profile.user_phone}}
                        {{profile.user_other}}
                        {% endif %}
                    </div>
                </div>
                <div class="bg-light d-flex text-center pl-4 pr-4" style="padding-top: 70px;">
                    {% include 'accounts/status.html' %}
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">Description</h5>
                    {{profile.user_description}}
                    <!--<div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0">Web Developer</p>
                        <p class="font-italic mb-0">Lives in New York</p>
                        <p class="font-italic mb-0">Photographer</p>
                    </div>-->
                </div>
                <div class="py-4 px-4">
                    {% if profile == request.user %}
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Identification Proof</h5><a href="{% url 'accounts:file-drop-zone-view' %}" class="btn btn-info">+</a>
                    </div>
                    {% endif %}
                    <div class="row bg-dark">
                        {% for user_document in user_documents %}
                        <div class="col-lg-2 mb-2 mt-2 pr-lg-1"><img src="{% static 'images/' %}{{user_document.user_file_thumbnail}}" alt="" class="img-fluid rounded shadow-sm"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('.request-contact-info').on('click', function() {
    var profile_id = $(this).data('profile');
    $.ajax({
    url: "{% url 'user_requests:request-contact-info' profile.id%}",
    type: "post",
    data: {
        profile_id: profile_id,
        csrfmiddlewaretoken: "{{csrf_token}}",
    },
    dataType: 'json',
    });
});
</script>