{% load static %}
{% load widget_tweaks %}

{% include 'accounts/main.html' %}

{% block content %}

<div class="container pt-5">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name">{{user.username}}</h5>
                            <h6 class="user-email">{{user.email}}</h6>
                        </div>
                        <div class="about">
                            <h5>Description</h5>
                            <p>{{user.user_description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="username">Full Name</label>
                                    {% render_field form.username class="form-control" name="username" value=profile.username type="text" %}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {% render_field form.email class="form-control" name="email" value=profile.email type="text" %}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="user_phone">Phone</label>
                                    {% render_field form.user_phone class="form-control" name="user_phone" value=profile.user_phone type="text" %}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="user_address">Address</label>
                                    {% render_field form.user_address class="form-control" name="user_address" value=profile.user_address type="text" %}
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Description</h6>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="user_description">Your description</label>
                                    <textarea class="form-control" rows="10" name="user_description" id="user_description">{{user.user_description}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Other</h6>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="user_other">Other info</label>
                                    <textarea class="form-control" rows="10" name="user_other" id="user_other">{{user.user_other}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <style>
        body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

    </style>

    <!--
<div class="Card-Block" style="height: 590px; width: 1300px; margin: auto; margin-top: 50px; border: none;">
    <div class="row">
        <div class="card col">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row" style="margin: 40px 0px 0px 40px;">
                    <div class="form-group col-md-5">
                        <label for="email">E-mail : </label><br>
                        {% render_field form.email class="form-control" name="email" value=profile.email type="text" %}
                    </div>
                    <div class="form-group col-md-5" style="padding-left: 50px;">
                        <label for="user_description">Description : </label><br>
                        {% render_field form.user_description class="form-control" name="user_description" value=profile.user_description type="text" %}
                    </div>
                </div>
                <div class="form-row" style="margin: 40px 0px 0px 40px;">
                    <div class="form-group col-md-5">
                        <label for="user_profile_image">Upload New Photo : </label><br>
                        {% render_field form.user_profile_image name="user_profile_image" value=profile.user_profile_image type="file" %}
                    </div>
                </div>
                <div style="margin: 40px 0px 0px 42px;">
                    <input type="submit" name="submit">
                </div>
            </form>
        </div>
    </div>
</div>
-->

{% endblock %}