<br>
<div class="row" style="min-width: 100%;">
  <div class="col-md">
    <div class="card text-center text-white mb-3" id="total-orders">
        <div class="card-header">
          <h5 class="card-title">Complaints Solved</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">0</h3>
        </div>
    </div>
  </div>

  <div class="col-md">
    <div class="card text-center text-white mb-3" id="orders-delivered">
        <div class="card-header">
          <h5 class="card-title">Verified by</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title verified-count-{{profile.id}}">{{verifications_count}}</h3>
        </div>
    </div>
    {% if request.user.id != profile.id %}
    <button class="btn btn-success verified-count" data-profile="{{profile.id}}">+</button>
    {% endif %}
  </div>

  <div class="col-md">
    <div class="card text-center text-white mb-3" id="total-orders">
        <div class="card-header">
          <h5 class="card-title">Reported by</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">0</h3>
        </div>
        {% if request.user.id != profile.id %}
        <button class="btn btn-danger reported-count" data-profile="{{profile.id}}">+</button>
        {% endif %}
    </div>
  </div>
</div>

<script>
  $('.verified-count').on('click', function() {
    var profile_id = $(this).data('profile');
    $.ajax({
      url: "{% url 'user_requests:verify-user' profile.id%}",
      type: "post",
      data: {
        profile_id: profile_id,
        csrfmiddlewaretoken: "{{csrf_token}}",
      },
      dataType: 'json',
      success: function(response) {
        var previous_verified_count = $('.verified-count-'+profile_id).text();
        console.log(previous_verified_count);
        if(response['verification_post'] == true) {
          $('.verified-count-'+profile_id).text(parseInt(previous_verified_count)+1);
        }
      }
    });
  });
  $('.reported-count').on('click', function() {
    var profile_id = $(this).data('profile');
    $.ajax({
      url: "{% url 'user_requests:report-user' profile.id%}",
      type: "post",
      data: {
        profile_id: profile_id,
        csrfmiddlewaretoken: "{{csrf_token}}",
      },
      dataType: 'json',
      success: function(response) {
        var previous_reported_count = $('.reported-count-'+profile_id).text();
        console.log(previous_reported_count);
        if(response['report_post'] == true) {
          $('.reported-count-'+profile_id).text(parseInt(previous_reported_count)+1);
        }
      }
    });
  });
</script>