{% load static %}
{% include 'accounts/main.html' %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
	<div class="heading-section">
		<h2>{{complaint.complaint_title}}</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="mb-3">
				<div class="item">
					<img src="{% static 'images/' %}{{complaint.complaint_request_image}}" width="100%" height="100%">
				</div>
			</div>
			{% for tag in complaint.tags.all %}
			<div class="btn btn-danger mb-3" style="height: 40px; padding: 5px;">#{{ tag }}</div>
			{% endfor %}
		</div>
		<div class="col-md-6">
			<div class="product-dtl">
				<div class="product-info">
					<div class="product-name">{{complaint.complaint_filer}}</div>
					<div class="reviews-counter">
						<span>{{complaint.complaint_place}}</span>
					</div>
				</div>
				<p>{{complaint.complaint_description}}</p>
				<div class="row">
					<div class="col-md-6">
						<a href="{% url 'accounts:profile-view' complaint.complaint_filer %}" class="round-black-btn">Request Contact</a>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" style="display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between;">
										<button type="button" class="btn btn-success social-share whatsapp" data-dismiss="modal"><i class="fa fa-whatsapp" style="font-size:36px"></i></button>
										<button type="button" class="btn btn-success social-share facebook" data-dismiss="modal" style="background: #3B5998;"><i class="fa fa-facebook" style="font-size:36px"></i></button>
										<button type="button" class="btn btn-success social-share twitter" data-dismiss="modal" style="background: #55ACEE;"><i class="fa fa-twitter" style="font-size:36px"></i></button>
										<button type="button" class="btn btn-danger btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 24px;">&times;</span></button>
									</div>
								</div>
							</div>
							<script>
								setShareLinks();
							
								function socialWindow(url) {
								var left = (screen.width -570) / 2;
								var top = (screen.height -570) / 2;
								var params = "menubar=no,toolbar=no,status=no,width=570,height=570,top=" + top + ",left=" + left;  window.open(url,"NewWindow",params);}
							
								function setShareLinks() {
									//var pageUrl = encodeURIComponent(document.URL);
									var pageUrl = "https://myanimelist.net/anime/45576/Mushoku_Tensei__Isekai_Ittara_Honki_Dasu_Part_2/pics"
									var tweet = encodeURIComponent($("meta[property='og:description']").attr("content"));
								
									$(".social-share.facebook").on("click", function() { 
										url="https://www.facebook.com/sharer.php?u=" + pageUrl;
										socialWindow(url);
									});
									
									$(".social-share.twitter").on("click", function() {
										url = "https://twitter.com/intent/tweet?url=" + pageUrl + "&text=" + tweet;
										socialWindow(url);
									});
									
									$(".social-share.whatsapp").on("click", function() {
										url = "https://wa.me/?text="+pageUrl;
										socialWindow(url);
									});
								}
							</script>
						</div>
							<button type="button" class="round-black-btn" data-toggle="modal" data-target="#exampleModalCenter">
								Share
							</button>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{% if profile != request.user and not investigastion_ongoing_by_curr %}
						<button data-profile="{{complaint.id}}" class="round-black-btn investigate">Investigate</button>
						{% elif investigastion_ongoing_by_curr %}
						<button class="round-black-btn under-investigation">Under Investigation</button>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						<a href="#" class="round-black-btn">Under Investigation By : </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-info-tabs">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Updates ({{total_updates}})</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Comments ({{total_comments}})</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
				{% if request.user == complaint.complaint_filer %}
				<form action="update/" method="POST" enctype="multipart/form-data" class="review-form">
					{% csrf_token %}
					<div class="form-group">
						<label for="update-add">Your message</label>
						<textarea class="form-control" rows="10" name="update-add" id="update-add"></textarea>
					</div>
					<button class="round-black-btn">Submit Update</button>
				</form>
				{% endif %}
				<div class="review-heading mt-5">UPDATES</div>
				{% for i in updates %}
				<p class="mb-3">{{i.message_user}}</p>
				<p class="mb-20">{{i.message_content}}</p>
				{% endfor %}
				{% if total_updates == 0 %}
				<p class="mb-20">There are no updates yet.</p>
				{% endif %}
			</div>
			<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
				{% if request.user != complaint.complaint_filer %}
				<form action="comment/" method="POST" enctype="multipart/form-data" class="review-form">
					{% csrf_token %}
					<div class="form-group">
						<label for="comment-add">Your message</label>
						<textarea class="form-control" rows="10" name="comment-add" id="comment-add"></textarea>
					</div>
					<button class="round-black-btn">Submit Comment</button>
				</form>
				{% endif %}
				<div class="review-heading mt-5">COMMENTS</div>
				{% for i in comments %}
				<p class="mb-3">{{i.message_user}}</p>
				<p class="mb-20" style="word-wrap: break-word">{{i.message_content}}</p>
				{% endfor %}
				{% if total_comments == 0 %}
				<p class="mb-20">There are no comments yet.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

	<script>
		$('.investigate').on('click', function() {
        var complaint_id = $(this).data('complaint');
        $.ajax({
        url: "",
        type: "post",
        data: {
            complaint_id: complaint_id,
            csrfmiddlewaretoken: "{{csrf_token}}",
        },
        dataType: 'json',
        });
        /*var element = document.getElementsByClassName("request-contact-info");
        console.log(element);
        element.className += " request-sent-button";
        console.log(element);
        element.classList.add("request-sent-button");*/
    });
	</script>

<style>
	.pd-wrap {
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
	font-family: 'Poppins', sans-serif;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px; 
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none; 
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}
</style>

<script>
	$(document).ready(function() {
		    var slider = $("#slider");
		    var thumb = $("#thumb");
		    var slidesPerPage = 4; //globaly define number of elements per page
		    var syncedSecondary = true;
		    slider.owlCarousel({
		        items: 1,
		        slideSpeed: 2000,
		        nav: false,
		        autoplay: false, 
		        dots: false,
		        loop: true,
		        responsiveRefreshRate: 200
		    }).on('changed.owl.carousel', syncPosition);
		    thumb
		        .on('initialized.owl.carousel', function() {
		            thumb.find(".owl-item").eq(0).addClass("current");
		        })
		        .owlCarousel({
		            items: slidesPerPage,
		            dots: false,
		            nav: true,
		            item: 4,
		            smartSpeed: 200,
		            slideSpeed: 500,
		            slideBy: slidesPerPage, 
		        	navText: ['<svg width="18px" height="18px" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="25px" height="25px" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
		            responsiveRefreshRate: 100
		        }).on('changed.owl.carousel', syncPosition2);
		    function syncPosition(el) {
		        var count = el.item.count - 1;
		        var current = Math.round(el.item.index - (el.item.count / 2) - .5);
		        if (current < 0) {
		            current = count;
		        }
		        if (current > count) {
		            current = 0;
		        }
		        thumb
		            .find(".owl-item")
		            .removeClass("current")
		            .eq(current)
		            .addClass("current");
		        var onscreen = thumb.find('.owl-item.active').length - 1;
		        var start = thumb.find('.owl-item.active').first().index();
		        var end = thumb.find('.owl-item.active').last().index();
		        if (current > end) {
		            thumb.data('owl.carousel').to(current, 100, true);
		        }
		        if (current < start) {
		            thumb.data('owl.carousel').to(current - onscreen, 100, true);
		        }
		    }
		    function syncPosition2(el) {
		        if (syncedSecondary) {
		            var number = el.item.index;
		            slider.data('owl.carousel').to(number, 100, true);
		        }
		    }
		    thumb.on("click", ".owl-item", function(e) {
		        e.preventDefault();
		        var number = $(this).index();
		        slider.data('owl.carousel').to(number, 300, true);
		    });


            $(".qtyminus").on("click",function(){
                var now = $(".qty").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1> 0)
                    { now--;}
                    $(".qty").val(now);
                }
            })            
            $(".qtyplus").on("click",function(){
                var now = $(".qty").val();
                if ($.isNumeric(now)){
                    $(".qty").val(parseInt(now)+1);
                }
            });
		});
</script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}